.homebg{
    background:url("https://res.cloudinary.com/dsgdnskfj/image/upload/v1723667300/WhatsApp_Image_2024-08-15_at_01.41.41_af6679a6_gittg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
}